@charset "UTF-8";
* {
  letter-spacing: 2px; }

.arrow-btn {
  text-align: center;
  margin-top: 40px;
  cursor: pointer; }
  .arrow-btn button {
    letter-spacing: 5px;
    background: none;
    border: 1px solid black;
    padding: 10px 50px; }
    .arrow-btn button img {
      display: inline-block;
      width: 20px;
      vertical-align: -4px;
      margin-right: 20px; }

.green-decor-title {
  font-weight: 400;
  position: relative;
  margin-bottom: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  .green-decor-title .decor-squ {
    background: #536f4f;
    width: 20px;
    -webkit-transform: scaleY(1.1);
    -ms-transform: scaleY(1.1);
    transform: scaleY(1.1);
    display: inline-block;
    margin-right: 30px; }

.pagination {
  text-align: center;
  margin-top: 50px; }
  .pagination ul {
    margin: 0;
    width: 100%; }
    .pagination ul li {
      display: inline-block;
      border: 1px solid rgba(0, 0, 0, 0.1);
      width: 30px;
      height: 30px;
      padding-top: 3px;
      cursor: pointer;
      -webkit-transition: .3s;
      -o-transition: .3s;
      transition: .3s; }
      .pagination ul li a {
        color: #2a3325;
        font-weight: 300; }
      .pagination ul li:hover {
        background: #2a3325; }
        .pagination ul li:hover a {
          color: white; }

.top-bottom-empty {
  background-size: cover;
  background-position: center bottom;
  padding-bottom: 300px; }
  .top-bottom-empty .main-title-bottom {
    background-size: cover;
    background-position: center center;
    position: relative; }
    .top-bottom-empty .main-title-bottom:before {
      content: "";
      position: fixed;
      width: 100%;
      height: 100%;
      z-index: -1;
      background-image: url("../img/order/bg02.jpg");
      background-size: cover;
      background-position: center center; }
  .top-bottom-empty .main-title {
    text-align: center;
    padding: 120px 0;
    color: white; }
    .top-bottom-empty .main-title h1 {
      font-weight: 400;
      letter-spacing: 3px; }
  .top-bottom-empty .green-decor-title div {
    font-size: 22px; }

.info-bottom {
  padding: 100px 0;
  background: white; }
  .info-bottom .form-wrap {
    -webkit-transform: translateX(50px);
    -ms-transform: translateX(50px);
    transform: translateX(50px); }
    @media (max-width: 992px) {
      .info-bottom .form-wrap {
        -webkit-transform: translate(0);
        -ms-transform: translate(0);
        transform: translate(0); } }
    .info-bottom .form-wrap .item-wrap {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      margin-bottom: 20px;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      position: relative; }
      .info-bottom .form-wrap .item-wrap label, .info-bottom .form-wrap .item-wrap .label {
        width: 100px;
        margin-bottom: 0;
        font-weight: 300; }
      .info-bottom .form-wrap .item-wrap .label {
        width: 80px;
        margin-right: 20px; }
      .info-bottom .form-wrap .item-wrap .input-wrap {
        -webkit-box-flex: 1;
        -ms-flex: 1;
        flex: 1;
        position: relative; }
      .info-bottom .form-wrap .item-wrap input, .info-bottom .form-wrap .item-wrap span, .info-bottom .form-wrap .item-wrap textarea {
        letter-spacing: 3px;
        width: 100%;
        font-weight: 300;
        padding: 15px 20px; }
      .info-bottom .form-wrap .item-wrap input, .info-bottom .form-wrap .item-wrap textarea {
        background: #f6f7f4;
        border: none; }
        .info-bottom .form-wrap .item-wrap input:focus, .info-bottom .form-wrap .item-wrap textarea:focus {
          -webkit-box-shadow: 0 2px 8px rgba(0, 0, 0, 0.3);
          box-shadow: 0 2px 8px rgba(0, 0, 0, 0.3);
          outline: none;
          border: 1px solid #536f4f; }
      .info-bottom .form-wrap .item-wrap span {
        word-break: break-all; }
        .info-bottom .form-wrap .item-wrap span a {
          color: #637a62; }
          .info-bottom .form-wrap .item-wrap span a:hover {
            text-decoration: underline; }
      .info-bottom .form-wrap .item-wrap input[type="date"]::-webkit-inner-spin-button {
        -webkit-appearance: none;
        appearance: none; }
      .info-bottom .form-wrap .item-wrap .date-wrap {
        position: relative; }
        .info-bottom .form-wrap .item-wrap .date-wrap:before, .info-bottom .form-wrap .item-wrap .date-wrap:after {
          position: absolute;
          content: "▼";
          top: 50%;
          -webkit-transform: translateY(-50%);
          -ms-transform: translateY(-50%);
          transform: translateY(-50%);
          color: transparent;
          right: 20px;
          pointer-events: none;
          background-image: url("../img/svg/birthday_icon.svg"); }
        .info-bottom .form-wrap .item-wrap .date-wrap:before {
          background: #f6f7f4; }
      .info-bottom .form-wrap .item-wrap .select-wrap {
        display: inline-block;
        position: relative;
        margin-right: 15px;
        width: 30%;
        min-width: 120px; }
        @media (max-width: 576px) {
          .info-bottom .form-wrap .item-wrap .select-wrap {
            width: 100%; }
            .info-bottom .form-wrap .item-wrap .select-wrap:nth-child(1) {
              margin-bottom: 25px; } }
        .info-bottom .form-wrap .item-wrap .select-wrap:before {
          position: absolute;
          content: "▼";
          top: 50%;
          -webkit-transform: translateY(-50%);
          -ms-transform: translateY(-50%);
          transform: translateY(-50%);
          color: #536f4f;
          right: 10px;
          pointer-events: none; }
        .info-bottom .form-wrap .item-wrap .select-wrap select {
          width: 100%;
          -webkit-appearance: none;
          -moz-appearance: none;
          appearance: none;
          padding: 15px 20px;
          padding-right: 50px;
          border: none;
          border-radius: 0;
          background: #f6f7f4;
          font-weight: 300; }
          .info-bottom .form-wrap .item-wrap .select-wrap select:focus {
            -webkit-box-shadow: 0 2px 8px rgba(0, 0, 0, 0.3);
            box-shadow: 0 2px 8px rgba(0, 0, 0, 0.3);
            outline: none;
            border: 1px solid #536f4f; }
    .info-bottom .form-wrap .btn-area {
      padding: 30px 0; }
      .info-bottom .form-wrap .btn-area button {
        background: #536f4f;
        color: white;
        border: none;
        font-weight: 300;
        padding: 15px 60px;
        letter-spacing: 5px;
        -webkit-transition: .3s;
        -o-transition: .3s;
        transition: .3s;
        cursor: pointer; }
      .info-bottom .form-wrap .btn-area input:hover {
        background: black !important; }
        .info-bottom .form-wrap .btn-area input {
          background: #536f4f;
          color: white;
          border: none;
          font-weight: 300;
          padding: 15px 60px;
          letter-spacing: 5px;
          -webkit-transition: .3s;
          -o-transition: .3s;
          transition: .3s;
          cursor: pointer; }
          .info-bottom .form-wrap .btn-area input:hover {
            background: black !important; }

.form-wrap-t2 .input-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 20px 0;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }
  .form-wrap-t2 .input-wrap label {
    width: 100px;
    white-space: nowrap;
    margin-top: 5px; }
    @media (max-width: 576px) {
      .form-wrap-t2 .input-wrap label {
        width: 80px; } }
  .form-wrap-t2 .input-wrap input, .form-wrap-t2 .input-wrap textarea {
    width: 80%;
    background: #f6f7f4;
    border: none;
    padding: 15px 20px;
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1; }
    .form-wrap-t2 .input-wrap input:focus, .form-wrap-t2 .input-wrap textarea:focus {
      -webkit-box-shadow: 0 2px 8px rgba(0, 0, 0, 0.3);
      box-shadow: 0 2px 8px rgba(0, 0, 0, 0.3);
      outline: none;
      border: 1px solid #536f4f; }
  .form-wrap-t2 .input-wrap ::-webkit-input-placeholder {
    font-weight: 300; }
  .form-wrap-t2 .input-wrap :-ms-input-placeholder {
    font-weight: 300; }
  .form-wrap-t2 .input-wrap ::-ms-input-placeholder {
    font-weight: 300; }
  .form-wrap-t2 .input-wrap ::placeholder {
    font-weight: 300; }

.blur-class {
  -webkit-filter: blur(10px);
  filter: blur(10px); }

.placeholderclass {
  overflow: hidden;
  max-width: 175px;
  min-width: 100%; }
  .placeholderclass:before {
    content: attr(placeholder);
    position: absolute;
    color: #666;
    background: #f6f7f4;
    width: 70%;
    overflow: hidden; }

#forget-pswd-suc #email-error {
  bottom: -20px;
  left: 0; }

#reset-pswd label.error {
  left: 0;
  bottom: -20px;
  max-width: 250px; }

@media (max-width: 576px) {
  #reset-pswd .btn-area.apply-btn-area button {
    width: 100%; } }

@media (min-width: 768px) {
  .container {
    padding-left: 100px;
    padding-right: 100px; } }

@media (min-width: 1200px) {
  .container {
    padding-left: 15px;
    padding-right: 15px; } }

section#news-inner {
  padding: 80px 0; }
  section#news-inner .banner-wrap img {
    width: 100%; }
  section#news-inner .content-wrap {
    padding: 30px 50px;
    text-align: left;
    font-size: 16px;
    font-weight: 300;
    color: #666; }
    section#news-inner .content-wrap .title {
      margin: 0 -50px;
      margin-bottom: 30px; }
      section#news-inner .content-wrap .title div {
        font-size: 24px; }
    @media (max-width: 768px) {
      section#news-inner .content-wrap {
        padding: 30px 0; }
        section#news-inner .content-wrap .title {
          margin-right: 0;
          margin-left: 0; } }
    section#news-inner .content-wrap .content p {
      line-height: 28px;
      text-align: justify; }
    section#news-inner .content-wrap .content img {
      max-width: 100%;
      margin-bottom: 30px; }
  section#news-inner .btn-area {
    text-align: center;
    margin-top: 40px; }
    section#news-inner .btn-area button {
      letter-spacing: 5px;
      background: none;
      border: 1px solid black;
      padding: 10px 50px;
      -webkit-transition: .3s;
      -o-transition: .3s;
      transition: .3s;
      cursor: pointer; }
      section#news-inner .btn-area button .fa {
        font-size: 20px;
        vertical-align: -1px;
        margin-right: 10px; }
      section#news-inner .btn-area button:hover {
        background: black;
        color: white;
        font-weight: 300; }

section#footer-terms {
  background: #e5e4e2;
  padding: 80px 0; }
  section#footer-terms .content-wrap .main-title {
    letter-spacing: 3px;
    font-weight: 400;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 120px; }
    @media (max-width: 768px) {
      section#footer-terms .content-wrap .main-title {
        margin-bottom: 100px; } }
  section#footer-terms .content-wrap .title {
    margin-bottom: 80px; }
    @media (max-width: 768px) {
      section#footer-terms .content-wrap .title {
        margin-bottom: 50px; } }
    section#footer-terms .content-wrap .title div {
      font-size: 20px; }
  section#footer-terms .content-wrap .content p {
    font-weight: 300;
    letter-spacing: 3px;
    line-height: 30px; }
    @media (max-width: 768px) {
      section#footer-terms .content-wrap .content p {
        line-height: 25px; } }
  section#footer-terms .btn-area {
    margin: 50px 0; }
    section#footer-terms .btn-area button {
      cursor: pointer;
      -webkit-transition: .3s;
      -o-transition: .3s;
      transition: .3s; }
      section#footer-terms .btn-area button .fa {
        font-size: 20px;
        vertical-align: -1px;
        margin-right: 10px; }
      section#footer-terms .btn-area button:hover {
        background: black;
        color: white;
        font-weight: 300; }

.leaf-img img {
  width: 100%; }

section#about {
  padding: 80px 0;
  color: #666; }
  section#about .banner-wrap img {
    width: 100%; }
  section#about .container-p {
    padding-top: 60px;
    padding-bottom: 60px; }
  section#about .green-decor-title div {
    font-size: 20px; }
  section#about .content-wrap {
    font-weight: 300; }
    section#about .content-wrap p {
      line-height: 30px;
      letter-spacing: 3px;
      text-align: justify; }
  section#about .middle-text {
    text-align: center;
    padding: 40px 15px;
    background: #fafbf5;
    font-size: 20px; }
  section#about .svg-text-area .img-wrap {
    text-align: center;
    padding-top: 50px;
    padding-bottom: 40px; }
    @media (max-width: 768px) {
      section#about .svg-text-area .img-wrap {
        padding-bottom: 10px; } }
    section#about .svg-text-area .img-wrap img {
      width: 100px; }
  section#about .svg-text-area .title-area {
    text-align: center; }
    section#about .svg-text-area .title-area p {
      font-size: 20px;
      margin-bottom: 5px; }
  section#about .svg-text-area .text-wrap {
    margin-top: 20px; }
    section#about .svg-text-area .text-wrap p {
      font-weight: 300;
      line-height: 25px;
      letter-spacing: 3px; }
  section#about .svg-text-area:hover {
    font-weight: 500; }

section#contact-us {
  background-size: cover;
  background-position: center center; }
  section#contact-us .title-area {
    text-align: center;
    padding: 120px 0; }
    section#contact-us .title-area h1 {
      color: white;
      font-weight: bold;
      letter-spacing: 3px;
      -webkit-transition: .3s;
      -o-transition: .3s;
      transition: .3s; }
  section#contact-us .green-decor-title div {
    font-size: 20px;
    color: #666; }
  section#contact-us .main-title-bottom:before {
    background-image: url("../img/contact-us/BG.jpg"); }
  section#contact-us .bottom-wrap {
    padding: 100px 0;
    padding-bottom: 0px;
    background: white;
    font-weight: 300; }
    @media (max-width: 768px) {
      section#contact-us .bottom-wrap {
        padding: 50px 0;
        padding-bottom: 0; } }
    section#contact-us .bottom-wrap .content-wrap {
      margin-bottom: 100px; }
      @media (max-width: 768px) {
        section#contact-us .bottom-wrap .content-wrap {
          margin-bottom: 50px; } }
    section#contact-us .bottom-wrap .content .line-wrap {
      margin-bottom: 20px; }
      section#contact-us .bottom-wrap .content .line-wrap img {
        width: 100%;
        max-width: 200px;
        -webkit-transition: .3s;
        -o-transition: .3s;
        transition: .3s; }
        section#contact-us .bottom-wrap .content .line-wrap img:hover {
          -webkit-transform: scale(1.05);
          -ms-transform: scale(1.05);
          transform: scale(1.05); }
    section#contact-us .bottom-wrap .content p {
      margin-bottom: 20px;
      line-height: 30px; }
  section#contact-us .form-wrap .input-wrap {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 10px 0;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
    section#contact-us .form-wrap .input-wrap label {
      width: 100px;
      white-space: nowrap;
      margin-top: 5px; }
      @media (max-width: 576px) {
        section#contact-us .form-wrap .input-wrap label {
          width: 80px; } }
    section#contact-us .form-wrap .input-wrap input, section#contact-us .form-wrap .input-wrap textarea {
      width: 80%;
      background: #f6f7f4;
      border: none;
      padding: 15px 20px;
      -webkit-box-flex: 1;
      -ms-flex: 1;
      flex: 1; }
      section#contact-us .form-wrap .input-wrap input:focus, section#contact-us .form-wrap .input-wrap textarea:focus {
        -webkit-box-shadow: 0 2px 8px rgba(0, 0, 0, 0.3);
        box-shadow: 0 2px 8px rgba(0, 0, 0, 0.3);
        outline: none;
        border: 1px solid #536f4f; }
    section#contact-us .form-wrap .input-wrap ::-webkit-input-placeholder {
      font-weight: 300; }
    section#contact-us .form-wrap .input-wrap :-ms-input-placeholder {
      font-weight: 300; }
    section#contact-us .form-wrap .input-wrap ::-ms-input-placeholder {
      font-weight: 300; }
    section#contact-us .form-wrap .input-wrap ::placeholder {
      font-weight: 300; }
  section#contact-us .form-wrap .textarea {
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start; }
    section#contact-us .form-wrap .textarea label {
      margin-top: 15px; }
  section#contact-us .btn-area {
    text-align: right;
    padding: 30px 0; }
    @media (max-width: 576px) {
      section#contact-us .btn-area {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-pack: distribute;
        justify-content: space-around;
        padding: 14px 0px; } }
    section#contact-us .btn-area input {
      margin-left: 20px;
      cursor: pointer;
      padding: 14px 80px;
      border: none;
      background: #536f4f;
      color: white;
      font-weight: 300;
      letter-spacing: 3px;
      -webkit-transition: .3s;
      -o-transition: .3s;
      transition: .3s; }
      section#contact-us .btn-area input:hover {
        background: black;
        color: white; }
      @media (max-width: 576px) {
        section#contact-us .btn-area input {
          margin: 0;
          margin-bottom: 20px;
          display: inline-block;
          padding: 14px 0;
          -webkit-box-flex: 1;
          -ms-flex: 1;
          flex: 1; }
          section#contact-us .btn-area input:nth-child(1) {
            margin-right: 10px; } }

label.error {
  position: absolute;
  color: red;
  bottom: -7px;
  left: 100px;
  font-size: 14px;
  letter-spacing: 3px;
  white-space: initial !important;
  width: 300px !important; }
  @media (max-width: 400px) {
    label.error {
      left: 80px;
      white-space: initial;
      max-width: 130px; } }
  label.error:before {
    content: "*"; }

section#product-inner {
  padding-top: 50px;
  padding-bottom: 50px;
  color: #666; }
  @media (max-width: 576px) {
    section#product-inner .product-img {
      display: none; } }
  section#product-inner .product-img .img-wrap {
    position: relative;
    overflow: hidden;
    padding-bottom: 80%; }
    section#product-inner .product-img .img-wrap img {
      width: 100%;
      position: absolute;
      position: absolute;
      top: 50%;
      left: 50%;
      -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%); }
  section#product-inner .img-slider-wrap .img-wrap {
    position: relative;
    overflow: hidden;
    padding-bottom: 70%;
    margin-left: 3px;
    margin-right: 3px;
    border: 1px solid rgba(0, 0, 0, 0.3); }
    section#product-inner .img-slider-wrap .img-wrap:hover img {
      width: 110%; }
    section#product-inner .img-slider-wrap .img-wrap img {
      -webkit-transition: .3s;
      -o-transition: .3s;
      transition: .3s;
      width: 100%;
      position: absolute;
      position: absolute;
      top: 50%;
      left: 50%;
      -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%); }
  section#product-inner .img-slider-wrap .slick-prev:before, section#product-inner .img-slider-wrap .slick-next:before {
    color: black; }
  section#product-inner .img-slider-wrap .slick-prev:before {
    content: '►';
    display: block;
    -webkit-transform: scaleX(-1);
    -ms-transform: scaleX(-1);
    transform: scaleX(-1);
    -webkit-transform-origin: center center;
    -ms-transform-origin: center center;
    transform-origin: center center; }
  section#product-inner .img-slider-wrap .slick-next:before {
    content: "►"; }
  @media (max-width: 576px) {
    section#product-inner .img-slider-wrap .slick-next {
      z-index: 1;
      right: 10px; }
    section#product-inner .img-slider-wrap .slick-prev {
      z-index: 1;
      left: 10px; } }
  section#product-inner .product-title {
    background: #edeee8;
    padding: 10px 30px; }
    @media (max-width: 992px) {
      section#product-inner .product-title {
        margin-top: 50px; } }
    section#product-inner .product-title .main-title {
      font-size: 28px;
      letter-spacing: 5px;
      color: black; }
    section#product-inner .product-title .sub-title {
      font-size: 18px;
      color: #666; }
  section#product-inner .product-text {
    padding: 10px 30px; }
    @media (max-width: 576px) {
      section#product-inner .product-text {
        padding-left: 0px;
        padding-right: 0px; } }
    section#product-inner .product-text p {
      font-weight: 300;
      line-height: 30px;
      text-align: justify; }
      @media (max-width: 991px) {
        section#product-inner .product-text p {
          line-height: 25px; } }
    section#product-inner .product-text hr {
      -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
      transform: scale(1.1); }
  section#product-inner .product-form-wrap {
    padding: 10px 30px;
    font-weight: 300; }
    @media (max-width: 576px) {
      section#product-inner .product-form-wrap {
        padding-left: 0px;
        padding-right: 0px; } }
    section#product-inner .product-form-wrap .item {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      margin-bottom: 20px; }
      section#product-inner .product-form-wrap .item label {
        width: 100px;
        white-space: nowrap;
        margin-right: 5px; }
      section#product-inner .product-form-wrap .item span {
        -webkit-box-flex: 1;
        -ms-flex: 1;
        flex: 1;
        margin-right: -200px; }
        @media (max-width: 991px) {
          section#product-inner .product-form-wrap .item span {
            margin-right: 15px; } }
      section#product-inner .product-form-wrap .item .select-wrap {
        width: 40%;
        position: relative; }
        @media (max-width: 992px) {
          section#product-inner .product-form-wrap .item .select-wrap {
            -webkit-box-flex: 1;
            -ms-flex: 1;
            flex: 1; } }
        section#product-inner .product-form-wrap .item .select-wrap:after {
          content: "▼";
          display: block;
          position: absolute;
          right: 0;
          top: 50%;
          -webkit-transform: translateY(-60%);
          -ms-transform: translateY(-60%);
          transform: translateY(-60%);
          pointer-events: none;
          color: #536f4f; }
      section#product-inner .product-form-wrap .item select {
        margin-top: 2px;
        width: 100%;
        font-weight: 300;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        border: none;
        background: none;
        cursor: pointer; }
    section#product-inner .product-form-wrap .add-to-cart {
      height: 100%;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: end;
      -ms-flex-align: end;
      align-items: flex-end;
      padding-bottom: 20px; }
      section#product-inner .product-form-wrap .add-to-cart input {
        width: 180%;
        margin-left: -25px;
        margin-right: -25px;
        font-weight: 100;
        background: #536f4f;
        border: none;
        color: white;
        padding: 15px 0;
        cursor: pointer;
        -webkit-transition: .3s;
        -o-transition: .3s;
        transition: .3s; }
        @media (max-width: 576px) {
          section#product-inner .product-form-wrap .add-to-cart input {
            margin: 0; } }
        section#product-inner .product-form-wrap .add-to-cart input:hover {
          background: black;
          color: white; }
  section#product-inner .product-banner {
    margin-top: 30px; }
    section#product-inner .product-banner img {
      width: 100%; }
  section#product-inner .item-wrap {
    padding: 30px 0;
    color: #666;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2); }
    section#product-inner .item-wrap .title .decor-squ {
      -webkit-transform: scaleY(1.2);
      -ms-transform: scaleY(1.2);
      transform: scaleY(1.2); }
    section#product-inner .item-wrap .title div {
      font-size: 20px !important; }
    section#product-inner .item-wrap .intro-text p {
      font-weight: 300;
      line-height: 33px;
      margin-bottom: 0; }
  section#product-inner .col-12:nth-last-child(1) .item-wrap {
    border: none; }

section#mix-product {
  padding: 90px 0; }
  @media (min-width: 1200px) {
    section#mix-product .container {
      padding-left: 50px;
      padding-right: 50px; } }
  @media (max-width: 992px) {
    section#mix-product .container {
      padding-left: 50px;
      padding-right: 50px; } }
  @media (max-width: 768px) {
    section#mix-product .container {
      padding-left: 15px;
      padding-right: 15px; } }
  section#mix-product .main-title {
    font-family: 'Lobster Two', cursive;
    text-align: center;
    font-weight: bold; }
  section#mix-product .bottom-wrap {
    background: white;
    margin: 35px 0;
    -webkit-box-shadow: 0 5px 20px 0px rgba(0, 0, 0, 0.2);
    box-shadow: 0 5px 20px 0px rgba(0, 0, 0, 0.2); }
    section#mix-product .bottom-wrap .row {
      margin: 0; }
    section#mix-product .bottom-wrap .col-12 {
      padding: 0; }
    section#mix-product .bottom-wrap:hover .img-wrap img {
      width: 110%; }
  section#mix-product .img-wrap {
    position: relative;
    overflow: hidden;
    padding-bottom: 65%;
    height: 100%; }
    section#mix-product .img-wrap img {
      position: absolute;
      -webkit-transition: .3s;
      -o-transition: .3s;
      transition: .3s;
      width: 105%;
      position: absolute;
      top: 50%;
      left: 50%;
      -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%); }
  section#mix-product .text-wrap {
    padding: 0 50px;
    padding-top: 50px;
    padding-bottom: 30px;
    height: 100%; }
    @media (max-width: 576px) {
      section#mix-product .text-wrap {
        padding-top: 30px;
        padding-left: 20px;
        padding-right: 20px; } }
    section#mix-product .text-wrap .product-intro {
      font-weight: 300; }
      section#mix-product .text-wrap .product-intro h1 {
        font-weight: 400; }
        @media (max-width: 991px) {
          section#mix-product .text-wrap .product-intro h1 {
            font-size: 30px; } }
      section#mix-product .text-wrap .product-intro h3 {
        font-weight: 400;
        color: #cc2e3f; }
        @media (max-width: 991px) {
          section#mix-product .text-wrap .product-intro h3 {
            font-size: 25px; } }
      section#mix-product .text-wrap .product-intro p {
        font-size: 18px;
        margin-bottom: 10px; }
      section#mix-product .text-wrap .product-intro .content {
        margin-top: 40px; }
        @media (max-width: 576px) {
          section#mix-product .text-wrap .product-intro .content {
            margin-top: 20px; } }
  section#mix-product .see-more-area {
    text-align: right;
    margin-top: 50px; }
    @media (max-width: 576px) {
      section#mix-product .see-more-area {
        margin-top: 30px; } }
    section#mix-product .see-more-area button {
      border: none;
      background: none;
      cursor: pointer;
      -webkit-transition: .3s;
      -o-transition: .3s;
      transition: .3s; }
      section#mix-product .see-more-area button:hover {
        -webkit-transform: translateX(5%);
        -ms-transform: translateX(5%);
        transform: translateX(5%);
        text-shadow: 0 1px 10px rgba(0, 0, 0, 0.2); }
      section#mix-product .see-more-area button img {
        width: 20px;
        display: inline-block;
        vertical-align: -4px;
        margin-right: 10px; }

section#mix-product-inner {
  padding-top: 50px;
  padding-bottom: 50px;
  color: #666; }
  @media (max-width: 576px) {
    section#mix-product-inner .product-img {
      display: none; } }
  section#mix-product-inner .product-img .img-wrap {
    position: relative;
    overflow: hidden;
    padding-bottom: 80%; }
    section#mix-product-inner .product-img .img-wrap img {
      width: 100%;
      position: absolute;
      position: absolute;
      top: 50%;
      left: 50%;
      -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%); }
  section#mix-product-inner .img-slider-wrap .img-wrap {
    position: relative;
    overflow: hidden;
    padding-bottom: 70%;
    margin-left: 3px;
    margin-right: 3px;
    border: 1px solid rgba(0, 0, 0, 0.3); }
    section#mix-product-inner .img-slider-wrap .img-wrap:hover img {
      width: 110%; }
    section#mix-product-inner .img-slider-wrap .img-wrap img {
      -webkit-transition: .3s;
      -o-transition: .3s;
      transition: .3s;
      width: 100%;
      position: absolute;
      position: absolute;
      top: 50%;
      left: 50%;
      -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%); }
  section#mix-product-inner .img-slider-wrap .slick-prev:before, section#mix-product-inner .img-slider-wrap .slick-next:before {
    color: black; }
  section#mix-product-inner .img-slider-wrap .slick-prev:before {
    content: '►';
    display: block;
    -webkit-transform: scaleX(-1);
    -ms-transform: scaleX(-1);
    transform: scaleX(-1);
    -webkit-transform-origin: center center;
    -ms-transform-origin: center center;
    transform-origin: center center; }
  section#mix-product-inner .img-slider-wrap .slick-next:before {
    content: "►"; }
  @media (max-width: 576px) {
    section#mix-product-inner .img-slider-wrap .slick-next {
      z-index: 100;
      right: 10px; }
    section#mix-product-inner .img-slider-wrap .slick-prev {
      z-index: 100;
      left: 10px; } }
  section#mix-product-inner .product-title {
    background: #edeee8;
    padding: 10px 30px; }
    @media (max-width: 992px) {
      section#mix-product-inner .product-title {
        margin-top: 50px; } }
    section#mix-product-inner .product-title .main-title {
      font-size: 28px;
      letter-spacing: 5px;
      color: black; }
    section#mix-product-inner .product-title .sub-title {
      font-size: 18px;
      color: #666; }
  section#mix-product-inner .product-text {
    padding: 10px 30px; }
    @media (max-width: 576px) {
      section#mix-product-inner .product-text {
        padding-left: 0px;
        padding-right: 0px; } }
    section#mix-product-inner .product-text p {
      font-weight: 300;
      line-height: 30px;
      text-align: justify; }
      @media (max-width: 991px) {
        section#mix-product-inner .product-text p {
          line-height: 25px; } }
    section#mix-product-inner .product-text hr {
      -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
      transform: scale(1.1); }
  section#mix-product-inner .product-form-wrap {
    padding: 10px 30px;
    font-weight: 300; }
    @media (max-width: 576px) {
      section#mix-product-inner .product-form-wrap {
        padding-left: 0px;
        padding-right: 0px; } }
    section#mix-product-inner .product-form-wrap .item {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      margin-bottom: 20px; }
      section#mix-product-inner .product-form-wrap .item label {
        width: 100px; }
      section#mix-product-inner .product-form-wrap .item span {
        -webkit-box-flex: 1;
        -ms-flex: 1;
        flex: 1;
        margin-right: -200px; }
        @media (max-width: 991px) {
          section#mix-product-inner .product-form-wrap .item span {
            margin-right: 15px; } }
      section#mix-product-inner .product-form-wrap .item .select-wrap {
        width: 40%;
        position: relative; }
        @media (max-width: 992px) {
          section#mix-product-inner .product-form-wrap .item .select-wrap {
            -webkit-box-flex: 1;
            -ms-flex: 1;
            flex: 1; } }
        section#mix-product-inner .product-form-wrap .item .select-wrap:after {
          content: "▼";
          display: block;
          position: absolute;
          right: 0;
          top: 50%;
          -webkit-transform: translateY(-60%);
          -ms-transform: translateY(-60%);
          transform: translateY(-60%);
          pointer-events: none;
          color: #536f4f; }
      section#mix-product-inner .product-form-wrap .item select {
        margin-top: 2px;
        width: 100%;
        font-weight: 300;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        border: none;
        background: none;
        cursor: pointer; }
    section#mix-product-inner .product-form-wrap .add-to-cart {
      height: 100%;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: end;
      -ms-flex-align: end;
      align-items: flex-end;
      padding-bottom: 20px;
      padding-top: 180px; }
      @media (max-width: 991px) {
        section#mix-product-inner .product-form-wrap .add-to-cart {
          padding-top: 50px; } }
      section#mix-product-inner .product-form-wrap .add-to-cart input {
        width: 180%;
        margin-left: -25px;
        margin-right: -25px;
        font-weight: 100;
        background: #536f4f;
        border: none;
        color: white;
        padding: 15px 0;
        cursor: pointer;
        -webkit-transition: .3s;
        -o-transition: .3s;
        transition: .3s; }
        @media (max-width: 576px) {
          section#mix-product-inner .product-form-wrap .add-to-cart input {
            margin: 0; } }
        section#mix-product-inner .product-form-wrap .add-to-cart input:hover {
          background: black;
          color: white; }
  section#mix-product-inner .product-banner img {
    width: 100%; }
  section#mix-product-inner .item-wrap {
    padding: 30px 0;
    color: #666;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2); }
    section#mix-product-inner .item-wrap .title .decor-squ {
      -webkit-transform: scaleY(1.2);
      -ms-transform: scaleY(1.2);
      transform: scaleY(1.2); }
    section#mix-product-inner .item-wrap .title div {
      font-size: 20px !important; }
    section#mix-product-inner .item-wrap .intro-text p {
      font-weight: 300;
      line-height: 33px;
      margin-bottom: 0;
      text-align: justify; }
  section#mix-product-inner .col-12:nth-last-child(1) .item-wrap {
    border: none; }
  section#mix-product-inner .edm-img img {
    width: 100%; }
  section#mix-product-inner .text-area h4, section#mix-product-inner .insert-img-area h4 {
    font-weight: 400;
    color: black;
    margin-bottom: 20px; }
  section#mix-product-inner .text-area p, section#mix-product-inner .insert-img-area p {
    font-weight: 300;
    line-height: 30px;
    text-align: justify; }
  section#mix-product-inner .text-area {
    padding: 50px 0; }
  section#mix-product-inner .insert-img-area {
    margin-bottom: 80px; }
    section#mix-product-inner .insert-img-area .insert-img {
      margin-top: 40px;
      margin-bottom: 20px; }
      section#mix-product-inner .insert-img-area .insert-img img {
        width: 100%; }

section.all-product-assemble {
  padding: 60px 0; }
  section.all-product-assemble .container {
    padding-right: 15px !important;
    padding-left: 15px !important; }
  section.all-product-assemble h2 {
    font-weight: 400;
    margin-bottom: 30px !important; }
    section.all-product-assemble h2 div {
      font-size: 40px; }
    section.all-product-assemble h2 .en {
      font-family: 'Lobster Two', cursive;
      font-weight: 500; }
    section.all-product-assemble h2 .cn {
      font-family: '微軟正黑體'; }
  section.all-product-assemble .pagination {
    margin-top: 60px; }
  section.all-product-assemble .img-banner {
    padding-bottom: 50px; }
    section.all-product-assemble .img-banner img {
      width: 100%; }

section#order-list .list-title {
  padding: 10px 20px;
  border: 1px solid #ddd; }
  @media (max-width: 991px) {
    section#order-list .list-title {
      display: none; } }

@media (max-width: 991px) {
  section#order-list .list-wrap .list:nth-child(1) {
    border-top: 1px solid #ddd; } }

section#order-list .list {
  border: 1px solid #ddd;
  border-top: none;
  font-weight: 300;
  padding: 8px 20px; }
  section#order-list .list:hover {
    background: #eee; }
  section#order-list .list .row > div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
    section#order-list .list .row > div:nth-last-child(1) {
      -webkit-box-pack: end;
      -ms-flex-pack: end;
      justify-content: flex-end; }
  section#order-list .list span {
    vertical-align: middle;
    white-space: nowrap; }
  section#order-list .list button {
    padding: 8px 40px;
    border: none;
    color: white;
    font-weight: 300;
    background: #536f4f;
    letter-spacing: 3px;
    white-space: nowrap;
    -webkit-transition: .3s;
    -o-transition: .3s;
    transition: .3s;
    cursor: pointer; }
    @media (max-width: 991px) {
      section#order-list .list button {
        margin-top: 20px;
        border-top: 1px solid #ddd; } }
    section#order-list .list button:hover {
      color: white;
      background: black; }

section#order-list .title.green-decor-title div {
  font-size: 20px; }

section#order-list .order-bottom {
  background: white;
  padding: 100px 0; }

section#order-list .item-title {
  font-weight: 500;
  white-space: nowrap;
  /* style */ }
  @media (min-width: 992px) {
    section#order-list .item-title {
      display: none; } }

section#order .status {
  font-size: 18px; }
section#order .status span{
  color: #bf0900;
  font-size: 16px; }

section#order .go-check{
  display: block;
  border: none;
  padding: 10px 0;
  background: #536f4f;
  color: white;
  font-weight: 300;
  font-size: 16px;
  width: 50%;
  cursor: pointer;
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
  white-space: nowrap;
  text-align: center;
  

}
section#order .go-check:hover {
  background: black;
}
@media (max-width: 991px){
  section#order .go-check{
    margin-top: 20px;
    max-width: 150px;

  }

}
  

section#order .date {
  margin-left: 50px;
  text-align: left;
  margin-bottom: 20px;
  color: #777;
  font-weight: 300; }
  @media (max-width: 991px) {
    section#order .date {
      text-align: left;
      margin: 10px 0; } }

section#order .list-title {
  padding: 10px 40px;
  border: 1px solid #ddd; }
  section#order .list-title div {
    text-align: center; }
    section#order .list-title div div:nth-child(1) {
      text-align: left; }
    section#order .list-title div div:nth-last-child(1) {
      text-align: right; }
  @media (max-width: 991px) {
    section#order .list-title {
      display: none; } }

@media (max-width: 991px) {
  section#order .list-wrap .list:nth-child(1) {
    border-top: 1px solid #ddd; } }

section#order .list {
  border: 1px solid #ddd;
  border-top: none;
  font-weight: 300;
  padding: 10px 40px; }
  @media (max-width: 576px) {
    section#order .list {
      padding: 10px 20px; } }
  section#order .list:hover {
    background: #eee; }
  section#order .list .row > div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; }
    @media (max-width: 991px) {
      section#order .list .row > div {
        -webkit-box-pack: start;
        -ms-flex-pack: start;
        justify-content: flex-start;
        -webkit-box-align: start;
        -ms-flex-align: start;
        align-items: flex-start; } }
    section#order .list .row > div:nth-child(1) {
      -webkit-box-pack: start;
      -ms-flex-pack: start;
      justify-content: flex-start; }
    section#order .list .row > div:nth-last-child(1) {
      -webkit-box-pack: end;
      -ms-flex-pack: end;
      justify-content: flex-end; }
      @media (max-width: 991px) {
        section#order .list .row > div:nth-last-child(1) {
          -webkit-box-pack: start;
          -ms-flex-pack: start;
          justify-content: flex-start; } }
  section#order .list span {
    vertical-align: middle;
    line-height: 25px; }
  section#order .list button {
    padding: 8px 40px;
    border: none;
    color: white;
    font-weight: 300;
    background: #536f4f;
    letter-spacing: 3px;
    white-space: nowrap;
    -webkit-transition: .3s;
    -o-transition: .3s;
    transition: .3s;
    cursor: pointer; }
    @media (max-width: 991px) {
      section#order .list button {
        margin-top: 20px;
        border-top: 1px solid #ddd; } }
    section#order .list button:hover {
      color: white;
      background: black; }

section#order .title.green-decor-title div {
  font-size: 20px; }

section#order .order-bottom {
  background: white;
  padding: 100px 00px; }

section#order .item-title {
  font-weight: 500;
  white-space: nowrap; }
  @media (min-width: 992px) {
    section#order .item-title {
      display: none; } }

section#order .total-area {
  padding: 10px 40px; }
  @media (max-width: 576px) {
    section#order .total-area {
      padding: 10px 20px; } }
  section#order .total-area .container {
    padding: 0; }
  section#order .total-area .total {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end; }
    section#order .total-area .total .total-list .item {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex; }
      section#order .total-area .total .total-list .item span {
        padding: 10px 0;
        font-weight: 300; }
        section#order .total-area .total .total-list .item span:nth-last-child(1) {
          margin-left: 60px;
          -webkit-box-flex: 1;
          -ms-flex: 1;
          flex: 1;
          text-align: right; }
      section#order .total-area .total .total-list .item:nth-last-child(1) span {
        font-weight: 400; }
        section#order .total-area .total .total-list .item:nth-last-child(1) span:nth-last-child(1) {
          color: #bf0900; }

section#order hr {
  border-bottom: 1px solid #536f4f;
  margin-bottom: 50px; }

section#order .list-bottom .text-wrap {
  margin-bottom: 40px; }

section#order .list-bottom .bt-title {
  font-size: 20px;
  margin-bottom: 20px; }

section#order .list-bottom .item-wrap {
  padding: 5px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  section#order .list-bottom .item-wrap span {
    font-weight: 300;
    position: relative; }
    section#order .list-bottom .item-wrap span:nth-child(1) {
      width: 150px; }
    section#order .list-bottom .item-wrap span:nth-child(2) {
      -webkit-box-flex: 1;
      -ms-flex: 1;
      flex: 1; }
  section#order .list-bottom .item-wrap .track-btn {
    border: none;
    background: #536f4f;
    color: white;
    font-weight: 300;
    font-size: 14px;
    padding: 8px 15px;
    cursor: pointer;
    margin-left: 30px;
    -webkit-transition: .3s;
    -o-transition: .3s;
    transition: .3s;
    position: absolute;
    top: 50%;
    left: 120px;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%); }
    @media (max-width: 576px) {
      section#order .list-bottom .item-wrap .track-btn {
        -webkit-transform: translateY(0%);
        -ms-transform: translateY(0%);
        transform: translateY(0%);
        left: 0;
        position: relative;
        display: block;
        margin: 10px 0;
        white-space: nowrap; } }
    section#order .list-bottom .item-wrap .track-btn:hover {
      background: black; }

section#order .prev-btn {
  text-align: center;
  padding: 50px 0; }
  section#order .prev-btn button {
    border: none;
    background: #536f4f;
    color: white;
    font-weight: 300;
    font-size: 16px;
    padding: 16px 100px;
    cursor: pointer;
    -webkit-transition: .3s;
    -o-transition: .3s;
    transition: .3s;
    white-space: nowrap;
    text-align: center; }
    @media (max-width: 576px) {
      section#order .prev-btn button {
        padding: 16px 0;
        width: 100%; } }
    section#order .prev-btn button:hover {
      background: black; }

section#order .order-bottom > .container, section#order .list-bottom > .container {
  max-width: 900px; }

section#person-info {
  background-image: url("../img/order/bg02.jpg"); }
  section#person-info .info-bottom {
    padding: 100px 0;
    background: white; }
  section#person-info label.error {
    bottom: -20px;
    left: 0;
    min-width: 200px; }

section#person-login-register .form-wrap {
  max-width: 450px; }
  @media (max-width: 1200px) {
    section#person-login-register .form-wrap {
      max-width: 100%; } }
  @media (max-width: 1200px) {
    section#person-login-register .form-wrap {
      margin-bottom: 100px; } }

section#person-login-register .btn-area {
  margin-left: -50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }
  @media (max-width: 992px) {
    section#person-login-register .btn-area {
      margin-left: 0; } }
  @media (max-width: 576px) {
    section#person-login-register .btn-area {
      display: block; }
      section#person-login-register .btn-area button {
        display: block;
        width: 100% !important; } }
  section#person-login-register .btn-area button {
    margin-bottom: 20px;
    letter-spacing: 2px;
    padding: 15px 0px;
    width: 45%; }
  section#person-login-register .btn-area .fa {
    -webkit-transform: scale(1.8);
    -ms-transform: scale(1.8);
    transform: scale(1.8);
    margin-right: 10px; }
  section#person-login-register .btn-area .fb-btn {
    background: #4166b2;
    padding: 15px 0px; }

section#person-login-register .checkbox-area {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  section#person-login-register .checkbox-area label {
    margin-left: 10px;
    font-size: 14px;
    color: #777; }
    section#person-login-register .checkbox-area label a {
      text-decoration: underline;
      margin-left: 10px;
      font-size: 14px;
      color: #777; }

section#person-login-register .apply-btn-area {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }

section#person-login-register .forget-pswd-link {
  color: #536f4f;
  text-decoration: underline; }
  section#person-login-register .forget-pswd-link:hover {
    color: black; }

section#person-login-register .reg-link {
  color: #536f4f;
  text-decoration: underline; 
  display: none;
  
  }
  @media (max-width: 1200px){
    section#person-login-register .reg-link {
      display: block;
    }
    
  }
  section#person-login-register .reg-link:hover {
    color: black; }

section#person-login-register label.error {
  bottom: -20px;
  left: 0;
  min-width: 200px; }

.mask {
  position: fixed;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.6);
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  z-index: 2000; }

.forget-pswd-page {
  position: fixed;
  z-index: 2001;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  padding: 0;
  overflow: hidden;
  border-radius: 10px;
  -webkit-box-shadow: 0 1px 20px rgba(0, 0, 0, 0.6);
  box-shadow: 0 1px 20px rgba(0, 0, 0, 0.6); }
  .forget-pswd-page .form-wrap {
    -webkit-transform: translateX(0px);
    -ms-transform: translateX(0px);
    transform: translateX(0px);
    min-width: 300px;
    max-width: 700px;
    margin: 0 auto; }
    .forget-pswd-page .form-wrap .title {
      padding: 20px 0;
      text-align: center;
      position: relative;
      background: #637a62; }
      .forget-pswd-page .form-wrap .title span {
        color: white;
        font-size: 20px;
        font-weight: 300; }
      .forget-pswd-page .form-wrap .title .close-btn {
        position: absolute;
        right: 20px;
        top: 50%;
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
        color: white;
        cursor: pointer; }
    .forget-pswd-page .form-wrap form {
      padding: 50px 40px; }
      @media (max-width: 576px) {
        .forget-pswd-page .form-wrap form .item-wrap {
          display: block; } }
      .forget-pswd-page .form-wrap form .item-wrap label {
        width: 120px; }
      .forget-pswd-page .form-wrap form .item-wrap .input-wrap {
        width: 300px; }
        @media (max-width: 768px) {
          .forget-pswd-page .form-wrap form .item-wrap .input-wrap {
            width: 200px; } }
      .forget-pswd-page .form-wrap form .btn-area {
        text-align: center;
        padding-bottom: 0; }
    .forget-pswd-page .form-wrap .content {
      padding: 30px 60px; }
      .forget-pswd-page .form-wrap .content p {
        font-weight: 300;
        margin-bottom: 10px; }
      .forget-pswd-page .form-wrap .content .svg {
        text-align: center;
        padding-bottom: 20px; }
        .forget-pswd-page .form-wrap .content .svg img {
          width: 80px; }
    .forget-pswd-page .form-wrap .content + .btn-area {
      text-align: center;
      padding: 0;
      padding-bottom: 30px; }

section#news .main-title-bottom {
  background-image: none; }
  section#news .main-title-bottom:before {
    background-image: url("../img/news/bg01.jpg"); }

section#news .white-bottom {
  background: white;
  padding: 100px 0; }
  section#news .white-bottom .news-wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    color: #666;
    border-bottom: 1px dashed #637a62;
    padding: 35px 0; }
    @media (max-width: 576px) {
      section#news .white-bottom .news-wrap {
        display: block; }
        section#news .white-bottom .news-wrap .date {
          margin-bottom: 15px; } }
    section#news .white-bottom .news-wrap .date {
      width: 180px;
      -webkit-transition: .3s;
      -o-transition: .3s;
      transition: .3s; }
    section#news .white-bottom .news-wrap .excerpt {
      -webkit-box-flex: 1;
      -ms-flex: 1;
      flex: 1;
      line-height: 30px;
      font-weight: 300;
      -webkit-transition: .3s;
      -o-transition: .3s;
      transition: .3s; }
    section#news .white-bottom .news-wrap:hover div {
      text-shadow: 0 1px 5px rgba(0, 0, 0, 0.2); }

section#news .pagination {
  margin-top: 100px; }

section#shop-cart .main-title-bottom {
  background-image: url("../img/cart/banner.jpg");
  background-size: cover;
  background-position: center center; }

section#shop-cart .main-title {
  padding: 120px 0;
  text-align: center;
  color: white; }
  section#shop-cart .main-title h1 {
    font-weight: 400; }

section#shop-cart .cart-form-wrap {
  padding: 80px 0; }
  section#shop-cart .cart-form-wrap .green-decor-title div {
    font-size: 20px; }
  section#shop-cart .cart-form-wrap .container {
    margin-bottom: 70px; }
  @media (max-width: 576px) {
    section#shop-cart .cart-form-wrap .btn-area button, section#shop-cart .cart-form-wrap .btn-area a {
      margin-bottom: 20px;
      text-align: center;
      display: block;
      width: 100%; } }

section#shop-cart .list-bottom {
  background: #fafafa;
  padding: 20px; }
  section#shop-cart .list-bottom .title-wrap, section#shop-cart .list-bottom .list-wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; }
  section#shop-cart .list-bottom .title-wrap {
    text-align: center;
    padding: 30px 0;
    padding-bottom: 20px;
    font-weight: 300;
    border-bottom: 1px solid #ddd; }
    @media (max-width: 991px) {
      section#shop-cart .list-bottom .title-wrap {
        display: none; } }
  section#shop-cart .list-bottom .list-wrap {
    padding: 20px 0;
    padding-bottom: 30px;
    color: #555;
    font-weight: 300;
    border-bottom: 1px solid #ddd; }
    section#shop-cart .list-bottom .list-wrap .list-inner-title {
      white-space: nowrap;
      display: none;
      font-weight: 400; }
      @media (max-width: 991px) {
        section#shop-cart .list-bottom .list-wrap .list-inner-title {
          display: inline-block;
          margin-right: 20px; } }
    section#shop-cart .list-bottom .list-wrap .col-12 {
      padding: 0; }
      @media (max-width: 991px) {
        section#shop-cart .list-bottom .list-wrap .col-12 {
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-align: start;
          -ms-flex-align: start;
          align-items: flex-start;
          margin-bottom: 20px; } }
    section#shop-cart .list-bottom .list-wrap .flex-wraper {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      height: 100%;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center; }
      @media (max-width: 991px) {
        section#shop-cart .list-bottom .list-wrap .flex-wraper {
          display: inline-block; } }
    section#shop-cart .list-bottom .list-wrap .product-name-wrap {
      -webkit-box-pack: start;
      -ms-flex-pack: start;
      justify-content: flex-start; }
      @media (max-width: 991px) {
        section#shop-cart .list-bottom .list-wrap .product-name-wrap {
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          width: 100%; } }
      @media (max-width: 576px) {
        section#shop-cart .list-bottom .list-wrap .product-name-wrap {
          display: block; } }
      section#shop-cart .list-bottom .list-wrap .product-name-wrap .img-wrap {
        position: relative;
        overflow: hidden;
        width: 100px;
        height: 100px; }
        section#shop-cart .list-bottom .list-wrap .product-name-wrap .img-wrap img {
          position: absolute;
          top: 50%;
          left: 50%;
          -webkit-transform: translate(-50%, -50%);
          -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
          width: 100%; }
      section#shop-cart .list-bottom .list-wrap .product-name-wrap .text-wrap {
        padding: 0 15px; }
        @media (max-width: 576px) {
          section#shop-cart .list-bottom .list-wrap .product-name-wrap .text-wrap {
            padding: 0;
            padding-top: 10px; } }
        section#shop-cart .list-bottom .list-wrap .product-name-wrap .text-wrap div {
          line-height: 25px; }
        section#shop-cart .list-bottom .list-wrap .product-name-wrap .text-wrap .product-name {
          font-size: 20px;
          font-weight: 400; }
    section#shop-cart .list-bottom .list-wrap .input-wrap {
      width: 50px;
      position: relative; }
      @media (max-width: 576px) {
        section#shop-cart .list-bottom .list-wrap .input-wrap {
          width: 150px;
          border-radius: 0 !important; }
          section#shop-cart .list-bottom .list-wrap .input-wrap input {
            text-align: center; } }
      section#shop-cart .list-bottom .list-wrap .input-wrap input {
        width: 100%; }
      section#shop-cart .list-bottom .list-wrap .input-wrap .spin {
        position: absolute;
        height: 50%;
        font-size: 12px;
        color: #666666;
        background: #eee;
        border: 1px solid #ddd;
        cursor: pointer;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center; }
        @media (max-width: 576px) {
          section#shop-cart .list-bottom .list-wrap .input-wrap .spin {
            height: 100%;
            color: transparent; } }
      section#shop-cart .list-bottom .list-wrap .input-wrap .add {
        top: 0;
        right: 0; }
        @media (max-width: 576px) {
          section#shop-cart .list-bottom .list-wrap .input-wrap .add {
            font-size: 0; }
            section#shop-cart .list-bottom .list-wrap .input-wrap .add:before {
              content: '+';
              color: #666;
              font-size: 16px;
              padding-left: 3px; } }
      section#shop-cart .list-bottom .list-wrap .input-wrap .sub {
        bottom: 0;
        right: 0; }
        @media (max-width: 576px) {
          section#shop-cart .list-bottom .list-wrap .input-wrap .sub {
            right: auto;
            font-size: 0; }
            section#shop-cart .list-bottom .list-wrap .input-wrap .sub:before {
              content: '-';
              color: #666;
              font-size: 16px;
              padding-left: 3px; } }
    section#shop-cart .list-bottom .list-wrap .delete-btn {
      background: none;
      border: none;
      cursor: pointer;
      font-size: 20px;
      color: #666;
      border-radius: 0; }

section#shop-cart .total-wrap {
  font-weight: 300; }
  section#shop-cart .total-wrap .item-wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 20px -15px; }
    section#shop-cart .total-wrap .item-wrap .label {
      -webkit-box-flex: 1;
      -ms-flex: 1;
      flex: 1;
      text-align: center;
      white-space: nowrap; }
      @media (max-width: 991px) {
        section#shop-cart .total-wrap .item-wrap .label {
          text-align: left; } }
    section#shop-cart .total-wrap .item-wrap .price {
      -webkit-box-flex: 1;
      -ms-flex: 1;
      flex: 1;
      text-align: right;
      text-align: center; }
      @media (max-width: 991px) {
        section#shop-cart .total-wrap .item-wrap .price {
          padding-right: 0; } }
    section#shop-cart .total-wrap .item-wrap .main-label {
      font-size: 16px;
      font-weight: 400; }
    section#shop-cart .total-wrap .item-wrap .main-total {
      color: #d00e27;
      font-size: 18px;
      font-weight: 400; }

section#shop-cart .radio-area {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }
  section#shop-cart .radio-area .radio-wrap.active {
    background: #ddd;
    border-radius: 10px; }
  section#shop-cart .radio-area .radio-wrap {
    display: inline-block;
    -webkit-transition: .3s;
    -o-transition: .3s;
    transition: .3s;
    cursor: pointer;
    width: 33%;
    display: inline-block;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    padding: 1vh 0;
    max-width: 130px; }
    section#shop-cart .radio-area .radio-wrap .img-wrap {
      cursor: pointer; }
      section#shop-cart .radio-area .radio-wrap .img-wrap img {
        width: 100%;
      }
      section#shop-cart .radio-area .radio-wrap .img-wrap .text {
        margin-top: 20px;
        text-align: center;
        font-weight: 300; }
    section#shop-cart .radio-area .radio-wrap label {
      width: 80%; }
    section#shop-cart .radio-area .radio-wrap input {
      width: 0;
      display: none; }

section#shop-cart .radio-textarea {
  padding-top: 40px; }
  section#shop-cart .radio-textarea .radio-text-wrap p {
    line-height: 30px;
    letter-spacing: 3px;
    font-weight: 300; }

section#shop-cart .info-bottom .form-wrap {
  padding-top: 20px;
  -webkit-transform: translateX(0px);
  -ms-transform: translateX(0px);
  transform: translateX(0px); }
  section#shop-cart .info-bottom .form-wrap .item-wrap {
    padding: 0 30px; }
    section#shop-cart .info-bottom .form-wrap .item-wrap .store-input {
      width: 100px;
      padding: 0;
      background: none; }
    @media (max-width: 576px) {
      section#shop-cart .info-bottom .form-wrap .item-wrap {
        padding: 0;
        display: block; } }
    section#shop-cart .info-bottom .form-wrap .item-wrap .btn-area {
      padding: 0; }
    section#shop-cart .info-bottom .form-wrap .item-wrap .ui.checkbox {
      margin: 20px 0; }
    section#shop-cart .info-bottom .form-wrap .item-wrap .ui.checkbox .box:before, section#shop-cart .info-bottom .form-wrap .item-wrap .ui.checkbox label:before {
      background: none;
      width: 20px;
      height: 20px;
      border: 1px solid #666;
      -webkit-transform: scale(0.8);
      -ms-transform: scale(0.8);
      transform: scale(0.8); }
    section#shop-cart .info-bottom .form-wrap .item-wrap .ui.checkbox .box:after, section#shop-cart .info-bottom .form-wrap .item-wrap .ui.checkbox label:after {
      top: 3px;
      left: 2px; }
    section#shop-cart .info-bottom .form-wrap .item-wrap .ui.checkbox label {
      width: 100%; }
    section#shop-cart .info-bottom .form-wrap .item-wrap .ui.radio.checkbox {
      margin-right: 30px; }
  section#shop-cart .info-bottom .form-wrap .input-wrap input, section#shop-cart .info-bottom .form-wrap .input-wrap select, section#shop-cart .info-bottom .form-wrap .input-wrap textarea {
    background: #edeee8; }
  section#shop-cart .info-bottom .form-wrap .address-wrap, section#shop-cart .info-bottom .form-wrap .textarea-wrap {
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start; }
    section#shop-cart label.error {
      left: 0 !important;
      margin-top: 0 !important; 
      bottom: -15px;
    }
    section#shop-cart .info-bottom .form-wrap .address-wrap label, section#shop-cart .info-bottom .form-wrap .textarea-wrap label {
      margin-top: 15px; }
      @media (max-width: 576px) {
        section#shop-cart .info-bottom .form-wrap .address-wrap label, section#shop-cart .info-bottom .form-wrap .textarea-wrap label {
          margin-top: 0; } }
    section#shop-cart .info-bottom .form-wrap .address-wrap .label, section#shop-cart .info-bottom .form-wrap .textarea-wrap .label {
      display: inline-block; }
    section#shop-cart .info-bottom .form-wrap .address-wrap .input-wrap div, section#shop-cart .info-bottom .form-wrap .textarea-wrap .input-wrap div {
      margin-bottom: 15px; }
  section#shop-cart .info-bottom .form-wrap .select-wrap {
    max-width: 200px; }
    @media (max-width: 576px) {
      section#shop-cart .info-bottom .form-wrap .select-wrap {
        max-width: none;
        width: 100%; } }

section#shop-cart .info-bottom ::-webkit-input-placeholder {
  font-weight: 300;
  color: black; }

section#shop-cart .info-bottom :-ms-input-placeholder {
  font-weight: 300;
  color: black; }

section#shop-cart .info-bottom ::-ms-input-placeholder {
  font-weight: 300;
  color: black; }

section#shop-cart .info-bottom ::placeholder {
  font-weight: 300;
  color: black; }

section#shop-cart .btn-area {
  padding: 0px 0;
  text-align: right; }
  section#shop-cart .btn-area button, section#shop-cart .btn-area a {
    background: #536f4f;
    color: white;
    border: none;
    font-weight: 300;
    padding: 15px 60px;
    letter-spacing: 5px;
    -webkit-transition: .3s;
    -o-transition: .3s;
    transition: .3s;
    cursor: pointer; }
    section#shop-cart .btn-area button:hover, section#shop-cart .btn-area a:hover {
      background: black !important; }

section#shop-cart .don-text p {
  font-weight: 300;
  line-height: 30px; }

section#reset-password .form-wrap {
  max-width: 500px;
  margin: 0 auto; }
  @media (max-width: 576px) {
    section#reset-password .form-wrap .item-wrap {
      display: block; } }
  section#reset-password .form-wrap .item-wrap label {
    width: 130px; }
  section#reset-password .form-wrap .btn-area {
    text-align: center; }

.cart2 .radio-area {
  pointer-events: none; }

.cart2 input {
  background: none !important; }

.cart2 .select-wrap:before {
  display: none; }

.cart2 select {
  background: none !important; }

.cart2 textarea {
  background: none !important; }

.cart2 p {
  font-weight: 300; }

.cart2 input[type="number"] {
  border: none;
  text-align: center; }

.no-line {
  text-decoration: none !important;
}

.tw-pay .warn {
  text-align: center;
  color: #990000;
  font-size: 25px; }
  .tw-pay .form-wrap {
    padding-top: 0 !important;
  }

.tw-pay .png {
  text-align: center;
  margin-bottom: 20px; }
  .tw-pay .png img {
    width: 100%;
    max-width: 250px; }

* {
  font-family: '微軟正黑體'; }
